<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.mytest.mapper.MainPlatformMapper">

        <select id="selectById" parameterType="long" resultType="org.jeecg.modules.demo.mytest.entity.MainPlatform">
            SELECT id, name, code, type FROM main_platform WHERE id = #{id}
        </select>
        <select id="selectByType" parameterType="int" resultType="org.jeecg.modules.demo.mytest.entity.MainPlatform">
            SELECT id, name, code, type FROM main_platform WHERE type = #{type}
        </select>
    
</mapper>